{% extends 'layout.html' %}

{% block body %}

<div class="mw9 center ph3-ns tc">
<h1 class="f2 lh-copy"></h1>
  <div class="cf ph2-ns">
    <div class="fl w-100 w-third-ns pa2">
    </div>
    <div class="fl w-100 w-third-ns pa2">
    	<p>Este sitio utiliza los datos publicados en http://boletinoficial.cba.gov.ar.</p>
    	<p>El objetivo de este ejercicio es hacer accesibles las publicaciones del boletín desde
    	la web, sin necesidad de usar archivos PDF.
    	</p>
    	<p>
    	Todas las secciones cuentan con links a las fuentes debajo.
    	</p>
    </div>
    <div class="fl w-100 w-third-ns pa2">
    </div>
  </div>
</div>

{% endblock%}